{% extends 'base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
<div class="container pt-5 my-5 border">
<h3 align="center">Исследование</h3>
<p>Добрый день! Мы, учащиеся ФГН НИУ ВШЭ, исследуем способы описания моментов времени в русском языке. Вы очень поможете нам, если пройдёте
    короткий опрос. Вам будет предложено заполнить пропуски в предложениях теми вариантами из предложенных, которые
    Вам кажутся наиболее приемлемыми: это не займёт у Вас больше пяти-семи минут.</p>
    <div class="container-fluid my-5 text-info">
    <b>Пожалуйста, читайте вопросы анкеты внимательно, но не стоит слишком долго думать над ответами:
    отвечайте в своём темпе, так, как Вам кажется уместным.</b>
    </div>
<p>Также мы попросим Вас заполнить небольшую анкету о Вас самих: все данные обрабатываются нам в анонимизированном виде
    и используются исключительно в научных целях.</p>
<p>Вы можете посмотреть, какие данные имеются на настоящий момент, на вкладке "Статистика".</p>
</div>
<form action="/questionnaire" method = 'GET' target="_blank">
    <button type="submit" class="btn btn-info btn-lg btn-block">Перейти к анкете</button>
</form>
{% endblock %}