{% extends 'base.html' %}
{% block title %} Статистика {% endblock %}
{% block content %}
<div class="container p-5 my-5 border">
    <table class="table">
        <thead class = 'table-primary' align="center">
            <tr>
            <th colspan="2">Статистика по метаданным</th>
            </tr>
        </thead>
        <tr>
            <th>Сколько всего людей прошло опрос:</th>
            <td>{{ all_info['total_count'] }}</td>
        <tr>
            <th>Минимальный возраст респондента из прошедших:</th>
            <td>{{ all_info['age_min'] }}</td>
        </tr>
        <tr>
            <th>Максимальный возраст респондента из прошедших:</th>
            <td>{{ all_info['age_max'] }}</td>
        </tr>
        <tr>
            <th>Средний возраст респондентов:</th>
            <td>{{ all_info['age_mean'] }}</td>
        </tr>
    </table>
</div>
<div class ="row">
    <div class="col p-5 w-50 my-5 border">
        <table class="table">
            <thead class = 'table-success'>
                <tr>
                <th colspan="2" scope="rowgroup">Более ранняя или полее поздняя граница?</th>
                </tr>
            </thead>
            <tr>
                <th>Сколько людей считает, что оба выражения скорее обозначают более позднюю границу временного промежутка: </th>
                <td>{{ all_info['ans12'][0] }}</td>
            <tr>
                <th>Сколько людей считает, что оба выражения скорее обозначают более раннюю границу временного промежутка:</th>
                <td>{{ all_info['ans12'][1] }}</td>
            </tr>
            <tr>
                <th>Сколько людей считает, что "верхняя граница" = "более поздняя граница", а "нижняя" = "ранняя":</th>
                <td>{{ all_info['ans12'][2] }}</td>
            </tr>
            <tr>
                <th>Сколько людей считает, что "верхняя граница" = "более ранняя граница", а "нижняя" = "поздняя":</th>
                <td>{{ all_info['ans12'][3] }}</td>
            </tr>
        </table>
    </div>
    <div class="col p-5 w-50 my-5 border">
        <table class="table">
            <thead class = 'table-success'>
                <tr>
                <th colspan="2" scope="rowgroup">Что назовут верхней, а что нижней?</th>
                </tr>
            </thead>
            <tr>
                <th>Сколько людей назовут и более раннюю границу временного промежутка, и более позднюю &#8212; "нижней": </th>
                <td>{{ all_info['ans34'][0] }}</td>
            <tr>
                <th>Сколько людей назовут и более раннюю границу временного промежутка, и более позднюю &#8212; "верхней": </th>
                <td>{{ all_info['ans34'][1] }}</td>
            </tr>
            <tr>
                <th>Сколько людей назовут более позднюю границу временного промежутка "нижней", а раннюю &#8212; "верхней":</th>
                <td>{{ all_info['ans34'][2] }}</td>
            </tr>
            <tr>
                <th>Сколько людей назовут более позднюю границу временного промежутка "верхней", а раннюю &#8212; "нижней":</th>
                <td>{{ all_info['ans34'][3] }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}